/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.docs-grid {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

.docs-grid .item {
    padding: 2rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.1);
}

.docs-grid .item:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.2);
}

.docs-grid .item h3,
.docs-grid .item p {
    margin: 0;
}

.docs-grid .item h3 {
    margin: 1rem 0;
}

.docs-grid .item i {
    font-size: 56px;
}

.docs-grid .item h3 {
    margin: 2rem 0 1rem;
    color: #333;
}

.docs-grid .item p {
    color: #999;
}
